=====
CODEOWNERS
=====

#Default owner
	@walkingdead1407

#Backend services
/backend/ @walkingdead1407

#Data
/back/app/data/ @walkingdead1407
/data/ @walkingdead1407
/scripts/ @walkingdead1407
#Scoring engine
/backend/app/scoring/ @walkingdead1407

#API Layer
/backend/app/api @Wintxrxr

#Scripts
/scripts/ @walkingdead1407

#Documentation
/docs/ @walkingdead1407

#Frontend
/frontend/ @Jnmj-dev

#Config files
pyproject.toml @walkingdead1407
un.lock @walkingdead1407

